<div class="panel panel-default">
    <br /><br />
    <div class="panel-heading">
        <h3 class="panel-title">Sign up as a seller</h3>
    </div>
    <div class="panel-body">
        <!-- <h3>test: {{vm.seller | json }}</h3> -->
        <div class="alert" role="alert" ng-hide="!vm.message" ng-class="vm.messageClass">
            <strong>{{ vm.message }}</strong>
            <button type="button" ng-click="vm.resetMessage()" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>
        <form id="seller-signup" class="form-horizontal" ng-submit="vm.signUp()">
            <div class="row">
                <div class="col-md-6 col-sm-10">
                    <div class="form-group">
                        <label for="company" class="col-sm-2 control-label">Company</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="company" ng-model="vm.seller.company">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="email" class="col-sm-2 control-label">Email</label>
                        <div class="col-sm-10">
                            <input type="email" class="form-control" id="email" ng-model="vm.seller.email">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="addressLine1" class="col-sm-2 control-label">Address line 1</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="addressLine1" ng-model="vm.seller.addressLine1">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="addressLine2" class="col-sm-2 control-label">Address line 2</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="addressLine2" ng-model="vm.seller.addressLine2">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="postalcode" class="col-sm-2 control-label">Postalcode</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="postalcode" ng-model="vm.seller.postalcode">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="city" class="col-sm-2 control-label">City</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="city" ng-model="vm.seller.city">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="country" class="col-sm-2 control-label">Country</label>
                        <div class="col-sm-10">
                            <select class="form-control" id="country" ng-model="vm.currentCountryCode">
                                <option value="">Select..</option>
                                <option ng-repeat="country in vm.countries" value="{{ country.code }}">{{ country.name }}</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="telephone" class="col-sm-2 control-label">Telephone number</label>
                        <div class="col-sm-10">
                            <input type="tel" class="form-control" id="telephone" ng-model="vm.seller.telephone">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="region" class="col-sm-2 control-label">Region</label>
                        <div class="col-sm-10">
                            <select class="form-control" id="region" ng-options="region as region.name for region in vm.regions track by region.code" ng-model="vm.currentRegionCode">
                                <!-- <option ng-repeat="region in vm.regions" value="{{ region.code }}">{{ region.name }}</option> -->
                            </select>
                        </div>
                    </div>
                    <pre>vm.currentCountry: {{ vm.currentCountry | json }}</pre>
                    <pre>vm.currentCountryCode: {{ vm.currentCountryCode | json }}</pre>
                    <pre>vm.seller.country: {{ vm.seller.country | json }}</pre>
                    <pre>vm.currentRegionCode: {{ vm.currentRegionCode | json }}</pre>
                    <pre>vm.seller.region: {{ vm.seller.region | json }}</pre>
                    <div class="form-group">
                        <div class="col-sm-2 control-label"></div>
                        <div class="col-sm-10">
                            <button type="reset" class="btn btn-cancel">Cancel</button>
                            <input type="submit" class="btn btn-default" value="Submit" />
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
