<div class="section-white">
    <div class="container">
        <ov-message message="vm.message" message-type="vm.messageType" has-validation-error="vm.form.$invalid">
            <div ng-messages="vm.form.minimumTotalAmount.$error" class="help-block" role="alert" ng-cloak ng-show="vm.form.minimumTotalAmount.$invalid">
                <div ng-message="">'Minimum total amount' must be a number</div>
            </div>
            <div ng-messages="vm.form.minPrice.$error" class="help-block" role="alert" ng-cloak ng-show="vm.form.minPrice.$invalid">
                <div ng-message="number">'Minimum price' must be a number</div>
            </div>
        </ov-message>
        <div class="text-center info" ng-show="!vm.proposals">
            <img src="/images/ajax-loader.gif">
            <h3>Loading</h3>
            <p>Getting the latest proposal data...</p>
        </div>
        <div class="row" ng-cloak ng-show="vm.proposals">
            <form name="vm.form" novalidate>
                <div class="col-md-4 form-group">
                    <label for="filterCategory">Category</label>
                    <select class="form-control" ng-model="vm.proposalFilter.category" name="category" id="filterCategory" >
                        <option value="">[any category]</option>
                        <optgroup ng-repeat="mainCat in vm.allCategories track by mainCat.name" label="{{mainCat.name}}">
                            <option ng-repeat="subCat in mainCat.subCategories track by subCat.name" value='{ "mainCategory": "{{mainCat.name}}", "subCategory": "{{subCat.name}}"}'>{{subCat.name}}</option>
                        </optgroup>
                    </select>
                </div>
                <div class="col-md-2 form-group">
                    <label for="filterPartNumber">Part number</label>
                    <input class="form-control" type="text" name="partNumber" ng-model="vm.proposalFilter.partNumber" id="filterPartNumber">
                </div>
                <div class="col-md-2 form-group" ng-class="{ 'has-error': vm.form.minimumTotalAmount.$invalid }">
                    <label for="filterMinimumTotalAmount">Minimum total amount</label>
                    <input class="form-control" type="number" name="minimumTotalAmount" ng-model="vm.proposalFilter.minimumTotalAmount" id="filterMinimumTotalAmount">
                </div>
                <div class="col-md-3 form-group" ng-class="{ 'has-error': vm.form.minPrice.$invalid }">
                    <label for="filterMinPrice">Minimum price</label>
                    <input class="form-control" type="number" name="minPrice" ng-model="vm.proposalFilter.minPrice" id="filterMinPrice">
                </div>
                <div class="col-md-1 form-group">
                     <label for="filterCategory">Filter</label>
                     <a class="btn btn-primary btn-block" ng-click="vm.search()" ng-show="!vm.isSearching" ng-disabled="!vm.filterChanged">
                        <span class="fa fa-search"></span>
                    </a>
                    <a class="btn btn-primary btn-block" ng-cloak ng-show="vm.isSearching" ng-disabled="true">
                        <span class="glyphicon glyphicon-refresh glyphicon-spin" aria-hidden="true"></span>
                    </a>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="container">
    <h2 class="page-heading">Buying proposals</h2>
    <div class="row" ng-cloak ng-show="vm.proposals.length==0">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading"><h3>No active proposals</h3></div>
                <div class="panel-body">
                    <p>There are no active buying proposals<span ng-cloak ng-show="vm.isFilterSet"> within current filter</span>.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row" ng-show="vm.proposals.length>0">
        <proposal-detail proposal="proposal" ng-repeat="proposal in vm.proposals track by proposal.contractAddress"></proposal-detail>
    </div>
</div>


