<div class="section-branded">
    <div class="container">
        <div class="jumbotron" ng-hide="isGlobalAdmin">
            <h4>Welcome</h4>
            <p>Hello {{userInfo.name}}, you have successfully logged in.</p>

            <h4>For buyers</h4>
            <ul class="buttons">
                <li>
                    <a class="btn btn-primary" href="/proposal/new">Create a new BuyCo to start saving</a>
                </li>
                <li>
                    <a class="btn btn-link" href="/"><i class="fa fa-th-large"></i>&nbsp;&nbsp;See what's for sale</a>
                </li>
                <li>
                    <a class="btn btn-link" href="/buyer/signup">
                        <i class="fa fa-user"></i>&nbsp;&nbsp;
                        <span ng-hide="$root.userInfo.buyerId">Sign up as a buyer</span>
                        <span ng-show="$root.userInfo.buyerId">My buyer data</span>
                    </a>
                </li>
            </ul>
            <h4>For sellers</h4>
            <ul class="buttons">
                <li>
                    <a class="btn btn-primary" href="/seller-proposal/list">Find BuyCos for your market</a>
                </li>
                <li>
                    <a class="btn btn-link" href="/seller/signup">
                        <i class="fa fa-user"></i>&nbsp;&nbsp;
                        <span ng-hide="$root.userInfo.sellerId">Sign up as a seller</span>
                        <span ng-show="$root.userInfo.sellerId">My seller data</span>
                    </a>
                </li>
            </ul>
            <!-- <div class="row">
                <div class="col-md-12">
                    <div class="btn-group" role="group" aria-label="Buing proposals">
                        <a type="button" href="/proposal/list" class="btn btn-default" style="width: 200px;">Buying proposals</a>
                        <a type="button" href="/proposal/new" class="btn btn-primary" data-toggle="tooltip" data-placement="left" title="Create a new buying proposal"><span class="glyphicon glyphicon-plus"></span></a>
                    </div>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-12">
                    <div class="btn-group" role="group" aria-label="Sellers">
                        <a type="button" href="/seller/signup" class="btn btn-primary" data-toggle="tooltip" data-placement="left" title="Sign up as seller"><span class="glyphicon glyphicon-plus"></span></a>
                    </div>
                </div>
            </div>-->
        </div>
    </div>
</div>
<div class="section-inverse" ng-cloak ng-show="blockchainAccounts && !isGlobalAdmin">
    <div class="container">
        <h4>Your blockchain accounts</h4>
    </div>
    <ul class="nav nav-accounts">
        <li ng-repeat="account in blockchainAccounts.accounts track by account.address" class="list-group-item">
            <div class="container">
                <a href="#"><code>{{account.address}}</code></a>
            </div>
        </li>
    </ul>
</div>
<div class="page-wrapper ng-hide" ng-show="isGlobalAdmin">
    <div class="container">
        <div class="jumbotron">
            <div class="container">
                <h5>Global Vault</h5>
                <p>Hello {{userInfo.name}},</p>
                <p>You successfully logged in!</p>
                <p>Your access token has been stored for the app to use. The app is now able to pay out loans on your behalf. You can now close this window.</p>
            </div>
        </div>
    </div>
</div>