
<div class="container">
    <div class="panel panel-danger" ng-show="errorMessage">
        <div class="panel-heading">There was an error processing your request.</div>
        <div class="panel-body">{{errorMessage}}</div>
    </div>
    <div class="jumbotron">
        <h2>{{proposal.productName}}</h2>
        <p class="text-muted" ng-show="proposal.mainCategory"><strong>{{proposal.mainCategory}} - {{proposal.subCategory}}</strong></p>
        <p class="text-muted">{{proposal.productDescription}}</p>
        <p class="text-muted" ng-show="proposal.productSku">SKU: {{proposal.productSku}}</p>
        <p class="text-muted" ng-show="proposal.productUnitSize">Unit size: {{proposal.productUnitSize}}</p>

        <span class="small">
            Maximum price: <span class="text-muted">{{(proposal.maxPrice || 0) | number: 2}} GBP</span>
        </span><br>
        <span class="small">
            End date: <span class="text-muted">{{proposal.endDate | amDateFormat:'DD-MM-YYYY HH:mm:ss'}}</span>
        </span><br>
        <span class="small">
            Ultimate delivery date: <span class="text-muted">{{proposal.ultimateDeliveryDate | amDateFormat:'DD-MM-YYYY HH:mm:ss'}}</span>
        </span><br>
        <h4>Time left to get your orders in:</h4>
        <h1 class="large" ng-cloak ng-show="proposal.endDate"><timer max-time-unit="day" end-time="proposal.endDate">{{ddays}}:{{hhours}}:{{mminutes}}:{{sseconds}}</timer></h1>
        <br><br>
        <p>
            Promote this BuyCo in your network to get more people on board!
        </p>
        <p><a twitter data-lang="en" data-count='horizontal' data-url='{{pageUrl}}' data-size="medium" data-text='Join me to buy {{proposal.productName}} together using @buycoio!'></a></p>
        <span class="small pull-right text-right">Smart Contact Address:<br><span class="text-muted">{{proposal.contractAddress}}</span></span>
        <form role="form" name="proposalForm" novalidate>
            <a href="/proposal/{{proposal.contractAddress}}/back" class="btn btn-primary">
                Buy together
            </a>
        </form>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            Backers
        </div>
        <div class="panel-body" ng-hide="backers">
            Loading the list of prospective buyers...
        </div>
        <div class="panel-body" ng-show="backers.length == 0">
            <p>You can be the first to back this proposal!</p>
        </div>
        <div class="panel-body" ng-show="backers.length > 0">
            <div class="list-group">
                <p href="#" ng-repeat="backer in backers track by backer.address" class="list-group-item">
                    Address <code>{{backer.address}}</code><span ng-show="backer.startPaymentTransactionId"> (<a href="https://uphold.com/reserve/transactions/{{backer.startPaymentTransactionId}}" target="_blank">see initial payment</a>)</span>:
                    <span class="pull-right text-muted">{{backer.amount}} unit(s)</span>
                </p>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            Offers
        </div>
        <div class="panel-body" ng-hide="offers">
            Loading the list of offers...
        </div>
        <div class="panel-body" ng-show="offers.length == 0">
            <p>
                We're waiting for the first offer. Promote this BuyCo in your network to get more people on board!
            </p>
            <p><a twitter data-lang="en" data-count='horizontal' data-url='{{pageUrl}}' data-size="medium" data-text='Join me to buy {{proposal.productName}} together using @buycoio!'></a></p>
        </div>
        <div class="panel-body" ng-show="offers.length > 0">
            <div class="list-group">
                <p href="#" ng-repeat="offer in offers track by offer.id" class="list-group-item">
                    Address <code>{{offer.sellerAddress}}</code> offers {{(offer.price || 0) | number :2}} GBP <span class="pull-right text-muted">minimum amount {{offer.minimumAmount}} unit(s)</span>
                </p>
            </div>
        </div>
    </div>
</div>
