﻿<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2>Buy together</h2>
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <p>
                                Do you want to join in to buy <strong>{{proposal.productName}}</strong>?
                            </p>
                            <p>
                                The maximum price is <span class="text-muted">{{(proposal.maxPrice || 0) | number: 2}}</span> GBP. The sale will only go through if a deal with a seller is closed.
                            </p>
                            <p>
                                <h3>Payment conditions</h3>
                                The payment schedule for this BuyCo is:
                            </p>
                            <p>
                                <ul>
                                    <li>{{proposal.pledgePaymentPercentage}}% on registration (GBP {{proposal.pledgePaymentPerProduct | number: 2}} per product)</li>
                                    <li>{{proposal.startPaymentPercentage}}% on closing a deal with a seller (GBP {{proposal.startPaymentPerProduct | number: 2}} per product)</li>
                                    <li>The rest of the amount on delivery</li>
                                </ul>
                            </p>
                            <form role="form" name="backForm" novalidate>
                                <div class="form-group">
                                    <label>Amount</label>
                                    <p class="help-block">
                                        How many units of <strong>{{proposal.productName}}</strong> are you willing to buy?
                                    </p>
                                    <input class="form-control" type="text" ng-model="amount" required min="1">
                                </div>
                                <div class="form-group">
                                    <label>Card to pay from</label>
                                    <p class="help-block">
                                        An initial payment of 5% of the total amount will be made immediately into the BuyCo escrow. If the sale doesn't
                                        close, your money will be returned on the proposal end date of {{proposal.endDate | amDateFormat: 'DD-MM-YYYY HH:mm'}} ({{proposal.endDate | amTimeAgo}}).
                                        <br /> Which Uphold card do you want to pay from?
                                    </p>
                                    <select class="form-control" ng-model="fromCard" required>
                                        <option ng-hide="cards.length > 0">Loading your cards...</option>
                                        <option ng-repeat="card in cards track by card.id" value="{{card.id}}">{{card.label}} ({{card.currency}} {{card.available}})</option>
                                    </select>
                                </div>
                                <fieldset ng-disabled="processMessage || successMessage">
                                    <button name="saveButton" ng-click="vm.backConfirm()" ng-disabled="backForm.$invalid" class="btn btn-primary">
                                        Pledge to buy {{amount}} {{proposal.productName}}
                                    </button>
                                </fieldset>
                            </form>
                            <div class="panel panel-default" style="margin-top:1em;" ng-show="processMessage">
                                <div class="panel-heading">Processing</div>
                                <div class="panel-body">{{processMessage}}</div>
                            </div>
                            <div class="panel panel-danger" style="margin-top:1em;" ng-show="errorMessage">
                                <div class="panel-heading">There was an error processing your request.</div>
                                <div class="panel-body">{{errorMessage}}</div>
                            </div>
                            <div class="panel panel-success" style="margin-top:1em;" ng-show="successMessage">
                                <div class="panel-heading">Success</div>
                                <div class="panel-body">
                                    <p>{{successMessage}}</p>
                                    <p>Transaction ID: <strong>{{transactionId}}</strong>. See the <a href="https://uphold.com/reserve/transactions/{{transactionId}}" target="_blank">transaction details</a>.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.col-lg-8 (nested) -->
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
</div>
