<div class="container">
    <h2>Buying proposals</h2>
    <div class="text-center info" ng-show="!proposals">
        <img src="/images/ajax-loader.gif">
        <h3>Loading</h3>
        <p>Getting the latest proposal data...</p>
    </div>
    <div class="text-center info" ng-show="proposals.length==0">
        <i class="fa fa-times"></i>
        <h3>No active proposals</h3>
        <p>There are no active buying proposals.</p>
    </div>
    <div class="row" ng-show="proposals.length>0">
        <proposal-detail proposal="proposal" ng-repeat="proposal in proposals track by proposal.contractAddress"></proposal-detail>
    </div>
</div>