<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2>Create a new proposal</h2>
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <p>
                                Please describe your new buying proposal.
                            </p>
                            <form role="form" name="proposalForm" novalidate>
                                <fieldset ng-disabled="processMessage || successMessage">
                                    <div class="form-group">
                                        <label>Product name</label>
                                        <p class="help-block">
                                            Which product do you want to buy?
                                        </p>
                                        <input class="form-control" type="text" ng-model="proposal.productName" required>
                                    </div>
                                    <div class="form-group">
                                        <label>Category</label>
                                        <p class="help-block">
                                            Choose a category for the product.
                                        </p>
                                        <select class="form-control" ng-model="proposal.category" required>
                                            <optgroup label="Electronics">
                                                <option value="Electronics - Camera">Camera</option>
                                            </optgroup>
                                            <optgroup label="Food and drink">
                                                <option value="Food and drink - Coffee">Coffee</option>
                                            </optgroup>
                                            <optgroup label="Books">
                                                <option value="Books - Fantasy books">Fantasy books</option>
                                            </optgroup>
                                            <optgroup label="Shoes">
                                                <option value="Shoes - Running shoes">Running shoes</option>
                                            </optgroup>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label>Product description</label>
                                        <p class="help-block">
                                            Please provide a unique description of the product.
                                        </p>
                                        <textarea class="form-control" type="text" ng-model="proposal.productDescription" required></textarea>
                                    </div>
                                    <div class="form-group">
                                        <label>SKU</label>
                                        <p class="help-block">
                                            What is the unique product identification number?
                                        </p>
                                        <input class="form-control" type="text" ng-model="proposal.productSku" required>
                                    </div>
                                    <div class="form-group">
                                        <label>Unit size</label>
                                        <p class="help-block">
                                            What is the indivisible unit size? Examples:
                                            <ul>
                                                <li>1 unit</li>
                                                <li>1 box with 12 cans</li>
                                                <li>1 bottle of 2.5 liters</li>
                                            </ul>
                                        </p>
                                        <input class="form-control" type="text" ng-model="proposal.productUnitSize" required>
                                    </div>
                                    <div class="form-group">
                                        <label>Maximum price</label>
                                        <p class="help-block">
                                            What is the maximum price you're willing to pay (GBP)? Sellers can only make offers on or below this price. Choose your price wisely.
                                        </p>
                                        <input class="form-control" type="text" ng-model="proposal.maxPrice" required>
                                    </div>
                                    <div class="form-group">
                                        <label>End date</label>
                                        <p class="help-block">
                                            Until what date can people back this proposal?
                                        </p>
                                        <input class="form-control" type="text" ng-model="proposal.endDate" required>
                                    </div>
                                    <div class="form-group">
                                        <label>Ultimate delivery date</label>
                                        <p class="help-block">
                                            What is the latest date when the goods have to be delivered to all buyers?
                                        </p>
                                        <input class="form-control" type="text" ng-model="proposal.ultimateDeliveryDate" required>
                                    </div>
                                    <button name="saveButton" ng-click="vm.create()" ng-disabled="proposalForm.$invalid" class="btn btn-primary">
                                        Create my proposal
                                    </button>
                                </fieldset>
                            </form>
                            <div class="panel panel-default" style="margin-top:1em;" ng-show="processMessage">
                                <div class="panel-heading">Processing</div>
                                <div class="panel-body">{{processMessage}}</div>
                            </div>
                            <div class="panel panel-danger" style="margin-top:1em;" ng-show="errorMessage">
                                <div class="panel-heading">There was an error processing your request.</div>
                                <div class="panel-body">{{errorMessage}}</div>
                            </div>
                            <div class="panel panel-success" style="margin-top:1em;" ng-show="successMessage">
                                <div class="panel-heading">Success</div>
                                <div class="panel-body">
                                    <p>{{successMessage}}</p>
                                    <p>Smart contract address: <strong>{{proposal.contractAddress}}</strong>.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.col-lg-8 (nested) -->
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
</div>